body {
  background: url(../images/beautiful-day.jpg) no-repeat top center;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

/* Interactive Images */
.interactive-img {
  position: relative;
  z-index: 11;
  cursor: pointer;
}

/* Wrapper */
.wrapper {
  position: relative;
  width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

/* Wheelbarrow Base Styles */
.wheelbarrow-base {
  margin-left: 80px;
  width: 688px;
  height: 514px;
  top: 220px;
}

#wheelbarrow {
  position: relative;
  background: url(../images/wheelbarrow.png) no-repeat;
  z-index: 0;
}

#wheelbarrow-foreground {
  pointer-events: none;
  position: absolute;
  background: url(../images/wheelbarrow-foreground.png) no-repeat;
  z-index: 10;
}

/* Basket and Ball */
#basket, #ball {
  display: inline-block;
}